.workflow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px; /* Ajusta el ancho máximo según tus necesidades */
    margin: 2rem auto; /* Centrar el contenedor y añadir márgenes */
    padding: 1rem;
    background-color: #f9f9f9; /* Color de fondo opcional */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra opcional */
  }
  
  .workflow-container h2 {
    text-align: center;
    color: #264561;
    margin-bottom: 1.5rem; /* Espacio entre el título y las tarjetas */
  }
  
  .workflow-card {
    background-color: #cdedc6; /* Color de fondo para las tarjetas */
    border-radius: 5px; /* Bordes redondeados */
    padding: 1rem;
    margin: 1rem 0; /* Espacio entre las tarjetas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra opcional */
    width: 100%; /* Ancho completo */
    max-width: 300px; /* Ajusta el ancho máximo de las tarjetas */
  }
  
  .workflow-card h3 {
    color: #264561;
    margin-bottom: 0.5rem; /* Espacio entre el título y el texto */
  }
  
  .workflow-card p {
    text-align: justify; /* Alinear el texto */
    color: #264561;
  }