@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif; /* Aplica la fuente Outfit */
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem; /* Ajusta el padding según necesites */
  background-color: #264561;
  color: white;
}

.content {
  background: linear-gradient(to bottom, #ddebc8, #cde8d6, #b0d9e0, #a1d1c9);
  margin: 0;
  padding: 0;
}

/* Logo */
.header__logo {
  display: flex;
  align-items: center;
}

.header__logo img {
  height: 45px;
}

/* Navegación */
.header__nav {
  display: flex;
  align-items: center;
}

.header__nav-list {
  display: flex;
  gap: 1.5rem; /* Ajuste del espacio entre enlaces */
  list-style-type: none;
  padding: 0;
}

.header__nav-link {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.header__nav-link:hover {
  color: #cde6c6; /* Cambia el color según tu diseño */
}

/* Ocultar el menú en pantallas pequeñas */
@media (max-width: 768px) {
  .header__nav {
    display: none;
    position: fixed;
    top: 0px;
    right: 0;
    height: 100vh;
    width: 60%;
    background-color: rgba(38, 69, 97, 0.8);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: transform 0.3s ease;
    transform: translate(100%);
  }

  /* Mostrar el menú cuando esté abierto */
  .header__nav--open {
    display: flex;
    transform: translate(0);
    flex-direction: column;
  }

  /* Estilos del botón hamburguesa */
  .header__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    z-index: 1100;
  }

  .header__menu-line {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
  }

  .header__menu-line:hover {
    background-color: #cde6c6; /* Cambia el color según tu diseño */
  }

  .header__nav-list {
    flex-direction: column;
    gap: 1rem;
  }
}

/* Ocultar el botón hamburguesa en pantallas grandes */
@media (min-width: 769px) {
  .header__menu {
    display: none;
  }
}

.content {
  background: linear-gradient(to bottom, #ddebc8, #cde8d6, #b0d9e0, #a1d1c9);
  margin: 0;
  padding: 0;
}

.img-404 {
  height: 90vh;
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  filter: drop-shadow(3px 3px 0.8rem #264561);
}

/*CONTACT-FORM*/

/* Estilos generales del formulario */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #cde6c6;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
  font-size: 1rem;
  max-width: 400px; /* Compacto en footer */
}

/* Estilos para la página Contact */

.contact-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la pantalla */
  padding: 1rem;
  padding-bottom: 80px; /* Espacio adicional para evitar solapamiento con el footer */
  margin: 0 auto;
}

.contact-page .contact-form {
  max-width: 600px; /* Más ancho en página Contact */
  margin: 80px auto;
}

/* Estilos para campos del formulario */
.contact-form label {
  font-size: 1rem;
  color: #333;
}

/* Label con input en columna */
.contact-form label:not(.contact-form__checkbox-label) {
  display: flex;
  flex-direction: column;
}

.contact-form input[type="text"],
.contact-form input[type="tel"],
.contact-form input[type="email"],
.contact-form select,
.contact-form textarea {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  margin-top: 0.3rem;
}

.contact-form textarea {
  resize: vertical;
}

/* Checkbox y texto alineados horizontalmente */
.contact-form__checkbox-label {
  display: flex;
  align-items: center; /* Alineación vertical del checkbox y el texto */
  font-size: 0.9rem; /* Tamaño de letra más pequeño */
  color: #333;
  margin-top: 0.5rem; /* Espacio superior para separación */
}

.contact-form__checkbox-label input[type="checkbox"] {
  margin-right: 0.5rem; /* Espacio entre el checkbox y el texto */
  transform: scale(1.2); /* Aumentar el tamaño del checkbox */
}

/* Asegurarse de que el texto no esté afectado por otros estilos */
.contact-form__checkbox-label span {
  line-height: 1.5; /* Ajustar la altura de línea para mejor alineación */
}

/* Aumentar el tamaño del formulario en la página de contacto */
.contact-page .contact-form {
  max-width: 600px; /* Aumentar el ancho del formulario */
  margin: 80px auto; /* Centrar el formulario */
}

/* Botón de envío */
.contact-form button {
  padding: 0.75rem 1.25rem;
  background-color: #264561;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: #1e3a51;
}

/* Responsive */
@media (max-width: 768px) {
  .contact-form {
    width: 100%;
    padding: 1rem;
    font-size: 0.9rem;
  }
}

/* Footer general */
.footer {
  margin-top: auto;
  background-color: #264561; /* Color de fondo del footer */
  color: #cde6c6;
  font-size: 0.9rem;
}

.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.footer__column {
  flex: 1;
  gap: rem;
  padding: 0 1rem;
  margin: 0 1rem;
}

.footer__column h3 {
  font-size: 1.25rem;
}

.footer__contact-info,
.footer__navigation,
.footer__legal {
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.footer__contact-info p,
.footer__navigation ul,
.footer__legal ul,
.footer a {
  margin: 0.5rem 0;
  color: #cde6c6;
  text-decoration: none;
}

.footer a {
  margin-right: 0.5rem;
  size: 2rem;
  display: flex;
  display: row;
}
.footer a:hover {
  color: #93bb9e;
  transform: scale(1.06);
}

.footer__navigation ul,
.footer__legal ul {
  list-style: none;
  padding: 0;
  color: #cde6c6;
}

.footer__navigation li,
.footer__legal li {
  margin: 0.5rem 0;
  color: #cde6c6;
}

.footer__navigation a,
.footer__legal a {
  color: #cde6c6;
  text-decoration: none;
}

.footer__navigation a:hover,
.footer__legal a:hover {
  color: #93bb9e;
}

.footer__sub-footer {
  background-color: #264561;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.8rem;
  color: #cde6c6;
}

/* Responsive Styles para el Footer */
@media (max-width: 768px) {
  .footer__content {
    flex-direction: column;
    text-align: center;
  }

  .footer__column {
    margin-bottom: 1rem;
  }
}
